
*{
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
h1{
	font-family: 'Shkrihand';
	margin: 10px;
}

h2 {
    font-weight: normal;
    font-size: 1em;
	font-family: 'Shrikhand', cursive;
	margin: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
}