
*{
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
h1{
	margin: 10px;
}

h2 {
    font-weight: normal;
    font-size: 1em;
	margin: 0;
	font-weight: bold;
	
}

body {
	font-family: 'Roboto', sans-serif;
}

img {
	object-fit: cover;
}